/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 13, 2022, 1:45:12 AM
    Author     : tuann
*/
img{
    width: 150px;
}
.status-a{
    color: red;
}
.status-p{
    color: green;
}
.btn-Save{
    margin-left: 60%;
}
